<!-- Print current location on the left based on input from navLinks.html, on the right go up one directory 
-->

<span style="font-family:Inconsolata">
	<a>./my_stuff{{ . }}</a>
    <span style="color:white"> | </span>
    <a href="./..">cd ..</a>
</span>
