<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
	    </body>
        <!--  Add Navbar if not in home -->
           <footer>
        
        {{ if and (.Site.Params.Navbar.use) (not .IsHome) }}
            {{- partial "navbar.html" . -}} 
        {{ end }}
	   </footer>  
    
</html>

<style>
footer {
   position: fixed;
   padding: 10px 10px 0px 10px;
   bottom: 0;
   width: 100%;
   height: 40px;
}
</style>

