    {{ define "main" }}
        <main id="main">
          <h1 style="color:white;">{{ .Title }}</h1>
          <ul>
            {{ range .Pages }}
            <li>
              <h2>
                <a href="{{ .RelPermalink }}">
                
                  {{ .Title }}
                </a>
              </h2>
		<h3 style="color:grey;">
		{{ .Date | time.Format ":date_long" }}
		<br>
		<br>
	 	{{ .Summary }}	
		<br>
		<br>
		{{ partial "reading-time.html" . }}

		</h3>
            </li>
            {{ end }}
          </ul>
        </main>
    {{ end }}
