{{ define "main" }}
    <h1 id="title" style="color:#BBBBBB" >
        {{ .Title }}
    </h1>
    <br>
      <article id="content" style="color:#BBBBBB">
           {{ .Content }}
        </article>
{{ end }}
